@import "../../styles/main.module";

.container {
    position: relative;
    padding: 40px;
    height: 306px;
    width: 919px;
    background-color: white;


    .picturesContainer {
        display: flex;
        background-color: white;
        overflow: hidden;
        flex-wrap: nowrap;

        img {
            height: 306px;
            min-width: 100%;
            width: 100%;
            @include dfc;
            transition: 1s ease-in-out;
        }
    }

}

@include laptop {
    .container {
        padding: 0 16px;




    }
}


@include mobile {
    .container {
        padding: 0 8px;
        height: 240px;
        width: 359px;

        .picturesContainer {

            img {
                height: 240px;
            }
        }

    }
}