@import "../../../styles/main.module";

.container {
    .listItem {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        padding: 0 12px;
        color: rgb(62, 119, 170);
        border-top: 1px solid $divider;
        height: 40px;

        &.green {
            color: $green;
        }

        .icon {
            margin-right: 8px;
            color: rgb(166, 165, 165);
            @include dfc;

            svg {
                width: 24px;
                height: 24px;
            }

            &.green {
                color: $green;
            }
        }

        .caption {
            transition: all .2s ease;

            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
}