@import "../../styles/main.module";

.container {
    padding: 0 18px 0 40px;

    .header {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
    }

    .containerProducts {
        display: flex;
        max-width: 100%;
        margin-bottom: 60px;
        flex-wrap: wrap;

        .productCard {
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            width: 20%;
            height: 335px;
            padding: 20px;
            border-right: 1px solid $divider;
            border-bottom: 1px solid $divider;

            .imgContainer {
                height: 140px;
                @include dfc;

                img {
                    box-sizing: border-box;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .name {
                font-size: 14px;
                line-height: 19px;
                margin: 10px 0;
                height: 40px;
                overflow-wrap: break-word;
                overflow: hidden;
            }

            .oldPrice {
                @include oldPrice;
            }

            .noOldPrice {
                padding-top: 15px;
            }

            .currentPrice {
                @include currentPrice;

                &.noDiscount {
                    color: black;
                }
            }

            .btn {
                box-sizing: border-box;
                @include greenBtn;
                justify-content: center;
                align-items: center;
                margin: 20px 0;
                transition: all 0.2s ease-in;
                cursor: pointer;

                &:hover {
                    filter: brightness(120%);
                }
            }

            .cart {
                color: white;
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }

    .showMoreButtonContainer {
        position: relative;

        .showMoreButton {
            @include dfc;
            height: 36px;
            border: 1px solid $divider;
            color: rgb(62, 119, 170);
            font-size: 14px;
            width: 20%;
            position: absolute;
            right: 0;
            top: -60px;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;

            &:hover {
                color: $red;
            }

            .arrow {
                svg {
                    height: 8px;
                    width: 8px;
                    margin-left: 10px;
                }
            }

            &.NOshowMoreButton {
                display: none;
            }
        }
    }
}


@include desktop {
    .container {
        .containerProducts {
            .productCard {
                width: 16.66%;
            }
        }

        .showMoreButtonContainer {
            .showMoreButton {
                width: 16.66%;
            }
        }
    }
}

@include laptop {
    .container {
        padding: 0 16px;

        .containerProducts {
            .productCard {
                width: 25%;
            }
        }

        .showMoreButtonContainer {
            .showMoreButton {
                width: 25%;
            }
        }
    }
}

@include mobile {
    .container {
        padding: 0 8px;

        .containerProducts {
            flex-wrap: wrap;

            .productCard {
                width: 50%;
            }
        }

        .showMoreButtonContainer {
            .showMoreButton {
                width: 100%;
                border: 1px solid rgb(216, 215, 215);
            }
        }
    }
}