@import "../../styles/main.module";

.container {
    padding: 0 18px 0 40px;

    .header {
        margin-bottom: 16px;
        font-size: 20px;
        font-weight: 700;
    }

    .containerProducts {
        display: flex;
        max-width: 100%;
        margin-bottom: 60px;

        .productCard {
            box-sizing: border-box;
            flex-direction: column;
            justify-content: center;
            width: 19%;
            height: 335px;
            padding: 20px;
            border-right: 1px solid $divider;
            border-bottom: 1px solid $divider;

            .imgContainer {
                height: 140px;
                @include dfc;


                img {
                    box-sizing: border-box;
                    max-width: 100%;
                    max-height: 100%;
                }
            }

            .name {
                font-size: 14px;
                line-height: 19px;
                margin: 10px 0;
                height: 40px;
                overflow-wrap: break-word;
                overflow: hidden;
            }

            .oldPrice {
                @include oldPrice;
            }

            .noOldPrice {
                padding-top: 15px;
            }

            .currentPrice {
                @include currentPrice;

                &.noDiscount {
                    color: black;
                }
            }

            .btn {
                box-sizing: border-box;
                @include greenBtn;
                justify-content: center;
                align-items: center;
                margin: 20px 0;
                transition: all 0.2s ease-in;
                cursor: pointer;

                &:hover {
                    filter: brightness(120%);
                }
            }

            .cart {
                color: white;
                width: 24px;
                height: 24px;
                margin-right: 10px;
            }
        }
    }
}

.showMoreButton {
    display: none;
}

@include laptop {
    .container {
        padding: 0 16px;

        .containerProducts {
            .productCard {
                width: 25%;
            }
        }
    }

    .showMoreButton {
        display: none;
    }
}

@include mobile {
    .container {
        padding: 0 8px;

        .containerProducts {
            flex-wrap: wrap;

            .productCard {
                width: 50%;

            }
        }
    }

    .showMoreButton {
        @include dfc;
        height: 36px;
        border: 1px solid $divider;
        margin: 15px 8px;
        color: rgb(62, 119, 170);
        position: relative;
        font-size: 14px;

        .arrow {

            svg {
                height: 8px;
                width: 8px;
                margin-left: 10px;
            }
        }
    }

    .NOshowMoreButton {
        display: none;
    }
}