@import "../../../styles/variables";

.container {
    background-color: $green;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 4px 0;

    .link {
        padding-right: 30px;
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .chevron {
        color: white;
        height: 20px;
        width: 20px;
    }
}