@import "../../../styles/variables";

.container {
    display: none;
}

@media(max-width:400px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        gap: 18px;
        padding: 16px 0 18px 0;
        border-bottom: 1px solid $divider;

        .headerWrap {
            display: flex;
            padding: 0 16px;
            justify-content: space-between;
            align-items: center;
            width: 90%;

            .header {

                color: $bleak-header-grey;
                font-weight: 700;
            }

            .chevron {
                height: 20px;
                width: 20px;
                transform: rotate(90deg);

            }
        }

        .link {
            padding: 0 16px;
            text-decoration: none;
            color: black;
        }
    }
}