@import "../../../styles/variables";

.container {
    display: none;
}

@media(max-width:$max-width-mobile) {
    .container {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 2px 16px;
        height: 46px;
        cursor: pointer;

        .logo {
            background-color: $light-grey;
            height: 30px;
            width: 30px;
            padding: 5px;
            border-radius: 50%;
            margin-right: 16px;
        }

        .link {
            text-decoration: none;
        }
    }
}