@import "../../../styles/main.module";

// .container {
//     display: none;
// }

// @media(max-width:$max-width-mobile) {

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 18px;
    padding: 20px 16px 18px 16px;
    border-bottom: 1px solid $divider;

    .headerWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .header {
            color: $bleak-header-grey;
            font-weight: 700;
            cursor: pointer;
        }

        .chevronWrap {
            display: flex;
            align-items: center;
            cursor: pointer;

            .chevron {
                margin-right: 10px;
                height: 20px;
                width: 20px;
                transition: all 0.3s ease-in;
                transform: rotate(90deg);

                &.openedList {
                    transform: rotate(-90deg);
                }
            }
        }
    }

    .linkWrap {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 18px;
        transition: max-height 0.3s ease-in;
        overflow: hidden;

        &.accordion {
            max-height: 0;
        }

        &.notAccordion {
            max-height: 300px;
        }

        &.openedList {
            max-height: 300px;

        }


        .link {
            text-decoration: none;
            color: black;
            cursor: pointer;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}

// }