@import "../../../styles/variables";

// .container {
//     display: none;
// }

// @media(max-width:$max-width-mobile) {
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 16px;
    border-bottom: 1px solid $divider;

    .header {
        color: $bleak-header-grey;
        font-weight: 700;

        margin-bottom: 8px;
    }

    .linksWrap {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        width: 95%;
        gap: 5px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;

            .icon {
                width: 15px;
                height: 15px;
                color: white;
            }

            .facebook {
                background-color: #506098;
                border: 10px solid #506098;
                border-radius: 50%;
            }

            .twitter {
                background-color: #76C9FD;
                border: 10px solid #76C9FD;
                border-radius: 50%;
            }

            .youtube {
                background-color: #E90000;
                border: 10px solid #E90000;
                border-radius: 50%;
            }

            .instagram {
                background-color: purple;
                border: 10px solid purple;
                border-radius: 50%;
            }

            .viber {
                background-color: #7D3DAF;
                border: 10px solid #7D3DAF;
                border-radius: 50%;
            }

            .telegram {
                background-color: #0088CC;
                border: 10px solid #0088CC;
                border-radius: 50%;
            }
        }

    }
}

// }