@import "../../../styles/variables";

// .container {
//     display: none;
// }

// @media(max-width:$max-width-mobile) {
.container {
    background-color: $green;
    display: flex;
    align-items: center;
    padding: 0 16px;
    height: 48px;

    .logo {
        margin-right: 16px;
    }

    .link {
        color: white;
        text-decoration: none;
        font-weight: 700;
    }

    .chevronContainer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 40px;

        .chevron {
            color: white;
            height: 20px;
            width: 20px;
            justify-self: flex-end;

        }
    }
}

// }