@import "../../../styles/main.module";


.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 18px 16px;
    border-bottom: 1px solid $divider;

    .header {
        color: $bleak-header-grey;
        font-weight: 700;

        &.margBttm8 {
            margin-bottom: 8px;
        }

        &.margBttm12 {
            margin-bottom: 12px;

        }
    }



    .imgWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;

        img {
            height: 32px;
        }
    }
}