@import "../../styles/variables";

.hamburgerWrap {
    width: 40px;
    height: 40px;
    @include dfc();
    transition: all 0.1s ease-in;
    border-radius: 4px;

    .hamburger {
        width: 27px;
        height: 27px;
        color: white
    }

    &:hover {
        background-color: #fff3;
    }
}