@import "../../styles/variables";

.hamburgerWrap {
    width: 40px;
    height: 40px;
    @include dfc();
    margin-right: 15px;

    .hamburger {
        width: 27px;
        height: 27px;
        color: white
    }
}