$black: #221F1F;
$green: #00A046;
$blue: #3e77aa;
$red: rgb(248, 65, 71);
$light-green: rgb(229, 245, 236);
$light-grey: rgb(241, 241, 241);
$bleak-header-grey: rgb(121, 120, 120);
$divider: rgb(233, 233, 233);
$font-grey: #797878;

$mainFont: 'Rozetka',
    BlinkMacSystemFont,
    -apple-system,
    Arial,
    "Segoe UI",
    Roboto,
    Helvetica,
    sans-serif;


@mixin dfc() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin dfcc() {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin greenBtn {
    height: 48px;
    width: 100%;
    background-color: $green;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    @include dfc;
}

@mixin oldPrice {
    color: rgb(166, 165, 165);
    text-decoration: line-through;
    font-size: 14px;
}

@mixin currentPrice {
    font-size: 20px;
    color: $red;
}