@import "./variables";


body {
  margin: 0;
  font-family: $mainFont;
}

h1 {

  padding: 0;
}

.defaultCaption {
  display: none;

  @media (min-width: 768px) {
    display: inline;
  }
}

.mobile-block {
  display: none;

  @media(max-width: $max-width-mobile) {
    display: block;
  }
}

.mobile-flex {
  display: none;

  @media(max-width: $max-width-mobile) {
    display: flex;
  }
}