@import "./variables";
@import "./breakpoints";



body {
  margin: 0;
  font-family: $mainFont;
  overflow-x: hidden;
}

.mainContainer {
  position: relative;
}

.mobile-block {
  display: none;

  @media(max-width: $max-width-mobile) {
    display: block;
  }
}

.mobile-flex {
  display: none;

  @media(max-width: $max-width-mobile) {
    display: flex;
  }
}