@import "../../styles/variables";

.btn {
    height: 48px;
    width: 100%;
    background-color: $green;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    justify-content: center;
    align-items: center;
    margin: 150px auto;
    width: 200px;
    transition: all 0.2s ease-in;
    cursor: pointer;

    &:hover {
        filter: brightness(120%);
    }

}

.basket {
    color: white;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}