@import "../styles/variables";

.space {
    margin-top: 70px;
}

.productsLayout {
    @include dfc;

    // box-sizing: border-box;
    width: 100%;
    overflow-y: auto;
    flex-wrap: wrap;
}

.testingPopUp {
    width: 10rem;
    padding: 10px 15px;
    background-color: $green;
    color: white;
    margin: 0 auto;
    cursor: pointer;
}