@import "../../../styles/main.module";

.container {

    background-color: white;
    width: 300px;
    border-right: 1px solid $divider;


    .downApps {
        font-size: 14px;
        padding: 0 8px;
    }
}