@import "../../../styles/main.module";

.containerDesktop {

    background-color: white;
    width: 300px;
    border-right: 1px solid $divider;
    font-size: 14px;

    .menuList {
        padding: 0 24px;
    }
}

.containerLaptop {
    display: none;
}


@include laptop {
    .containerDesktop {
        display: none;
    }

    .containerLaptop {
        display: block;
        padding: 0 0 16px 0;
    }
}

@include mobile {

    .containerLaptop {
        display: none;
    }
}