@import "../../../styles/variables";



.cardProduct {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    border-top: 1px solid $divider;
    padding-top: 16px;
    position: relative;

    .imgContainer {
        position: relative;
        @include dfc;
        width: 125px;
        height: 96px;
        margin-right: 16px;
        text-decoration: none;


        .img {
            max-width: 125px;
            max-height: 96px;

        }


        .discoutIcon {
            position: absolute;
            top: 0px;
            left: 0px;
            font-size: 8px;
            background-color: $red;
            color: white;
            padding: 4px 9px;
            border-radius: 50px;
            font-weight: 700;
        }
    }

    .productName {
        color: black;
        font-size: 14px;
        text-decoration: none;
        line-height: 1.5;
    }




}

.orderDetailsCard {
    padding: 16px 0;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .counterContainer {
        @include dfc;

        .counterBtn {
            width: 40px;
            @include dfc;
            cursor: pointer;

            .minusBtn,
            .plusBtn {
                height: 25px;
                width: 25px;
            }

            .minusBtn {
                color: rgb(210, 210, 210);
            }

            .plusBtn {
                color: $blue;
            }
        }

        .counter {
            font-size: 16px;
            width: 50px;
            border: 1px solid rgb(210, 210, 210);
            text-align: center;
            border-radius: 8px;
            padding: 10px 2px;
            margin: 0 4px;
        }
    }

    .priceContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        line-height: 1.2;

        .oldPrice {
            @include oldPrice
        }

        .currentPrice {
            @include currentPrice
        }
    }
}