@import "../../../styles/main.module";


.containerDesktop {
    border-bottom: 1px solid $divider;
    padding: 24px 0;

    .listItem {
        display: flex;
        align-items: center;
        font-size: 14px;
        font-weight: 500;
        padding: 0 12px;
        color: rgb(62, 119, 170);
        line-height: 31px;
        cursor: pointer;

        .icon {
            margin-right: 8px;
            color: #a6a5a5;
            @include dfc;

            svg {
                width: 24px;
                height: 24px;
            }
        }

        .caption {
            transition: all .2s ease;

            &:hover {
                color: red;
                text-decoration: underline;
            }
        }
    }
}


.header {
    padding: 0 16px 12px 16px;
    font-size: 19px;
    font-weight: 700;
    margin-top: 40px;
}

.containerLaptop {
    border-top: 1px solid $divider;
    border-bottom: 1px solid $divider;
    padding: 16px;
    display: flex;
    flex-wrap: wrap;


    .listItem {
        position: relative;
        display: flex;
        align-items: center;
        font-weight: 500;
        padding-right: 24px;
        color: rgb(62, 119, 170);
        font-size: 16px;
        cursor: pointer;
        height: 48px;
        flex: 1 30%;
        border-right: 1px solid $divider;

        .icon {
            margin: 0 16px;
            color: #a6a5a5;

            @include dfc;

            svg {
                width: 28px;
                height: 28px;
            }
        }

        .caption {
            transition: all .2s ease;

            &:hover {
                color: red;
                text-decoration: underline;
            }
        }

        .chevron {
            position: absolute;
            right: 10px;
        }
    }

}