$black: #221F1F;
$green: #00A046;
$light-green: (
    rgb(229,
        245,
        236)
);
$light-grey: rgb(241, 241, 241);
$light-border: rgb(233, 233, 233);
$font-grey: #797878;
$mainFont: 'Rozetka',
    BlinkMacSystemFont,
    -apple-system,
    Arial,
    "Segoe UI",
    Roboto,
    Helvetica,
    sans-serif;