$black: #221F1F;
$green: #00A046;
$light-green: rgb(229, 245, 236);
$light-grey: rgb(241, 241, 241);
$bleak-header-grey: rgb(121, 120, 120);
$divider: rgb(233, 233, 233);
$font-grey: #797878;
$mainFont: 'Rozetka',
    BlinkMacSystemFont,
    -apple-system,
    Arial,
    "Segoe UI",
    Roboto,
    Helvetica,
    sans-serif;