@import "../../../styles/variables";

.container {
    justify-content: start;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 12px 0;
    padding: 0 8px;

    .caption {
        color: $font-grey;
        margin-left: 8px;
    }

    .buttonWrap {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        .button {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            align-items: center;
            padding: 6px 12px;
            border: 1px solid $divider;
            border-radius: 4px;
            margin-right: 8px;

            img {
                padding-right: 8px;
            }
        }

        .selectedButton {
            border: 1px solid $green;
            background-color: $light-green;
        }
    }
}